<%- include('partials/head') %>
<body>
    <%- include('partials/header', {home: String(home)}) %>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-5 m-5 text-center">
            <img src="images/ipl.png" class="rounded mx-auto d-block img-fluid">
            </div>
            <div class="col-5 m-5">
                <h1 class="text-center">This is CricStats!</h1>
                <br>
                <ul>
                <li>This is an application that provides IPL T20 enthusiasts an interface to search relevant cricketing data as per their choice such as player data, match information, team statistics etc.</li>
                <li>Users can compare players and view teams on the basis of a number of parameters and criteria including runs, wickets, economy, strike-rate, high-score etc.</li>
                <li>All IPL data and statistics from 2008 till 2017 have been made available to the users. All the data is derived from <a href="http://cricsheets.org">cricsheets.org</a> and relevant information is presented to the users.</li>
                </ul>
            </div>
        </div>
        </div>
    </div>
    <!-- <%- include('partials/footer') %> -->
</body>
