<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <script>searchTeamFunc('team-drop', <%= n %>)</script>
    <div class="container mt-5 col-6">
        <div class="dropdown row">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">Choose Team</button>
            <ul class="dropdown-menu" id="team-drop" aria-labelledby="dropdownMenuButton"></ul>
        </div>
    </div>
    <!-- <%- include('partials/footer') %> -->
</body>
